// logo
.logo {
  height: 3.25rem;
  margin-left: 2rem;
}

// search
.search {
  flex: 0 0 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  @media only screen and (max-width: $bp-smallest) {
    order: 1;
    flex: 0 0 100%;
  }
  &__input {
    font-family: inherit;
    font-size: inherit;
    background-color: var(--color-grey-light-2);
    color: inherit;
    border: none;
    padding: .7rem 2rem;
    border-radius: 100px;
    width: 90%;
    transition: all .2s;
    margin-right: -3.25rem;
    &:focus {
      outline: none;
      width: 100%;
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
      background-color: var(--color-grey-light-3);
    }
    &::-webkit-input-placeholder {
      font-weight: 100;
      color: var(--color-grey-light-4);
    }
  }
  &__input:focus + &__button {
    background-color: var(--color-grey-light-3);
  }
  &__button {
    border: none;
    background-color: var(--color-grey-light-2);
    &:focus {
      outline: none;
    }
    &:active {
      transform: translateY(2px);
    }
  }
  &__icon {
    height: 2rem;
    width: 2rem;
    fill: var(--color-grey-dark-3);
  }
}

// user navigation 
.user-nav {
  align-self: stretch;
  display: flex;
  align-items: center;
  & > * {
    padding: 0 2rem;
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center;
    &:hover {
      background-color: var(--color-grey-light-2);
    }
  }
  &__icon-box {
    position: relative;
  }
  &__icon {
    height: 2.5rem;
    width: 2.5rem;
    fill: var(--color-grey-dark-2);
    
  }
  &__notification {
    font-size: .8rem;
    height: 1.75rem;
    width: 1.75rem;
    border-radius: 100px;
    background-color: var(--color-primary);
    color: white;
    position: absolute;
    top: 1.5rem;
    right: 1.1rem;

    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__user-photo {
    height: 3.5rem;
    border-radius: 50%;
    margin-right: 1rem;
  }
}

// sidebar
.side-nav {
  font-size: 1.4rem;
  list-style: none;
  margin-top: 3.5rem;

  @media only screen and (max-width: $bp-medium) {
    display: flex;
    margin: 0;
  }

  &__item {
    position: relative;
    &:not(:last-child) {
      margin-bottom: 1rem;
      @media only screen and (max-width: $bp-medium) {
        margin: 0;
      }
    }
    @media only screen and (max-width: $bp-medium) {
      flex: 1;
    }
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 3px;
      background-color: var(--color-primary);
      transform: scaleY(0);
      // transform-origin: bottom;
      transition: transform .2s,
                  width .4s cubic-bezier(1, 0, 0, 1),
                  backgroung-color .2s;
    }
  }
  &__item:hover::before,
  &__item:active::before {
    transform: scaleY(1);
    width: 100%;
  }
  &__item:active::before {
    background-color: var(--color-primary-light);
  }
  &__link:link,
  &__link:visited {
    color: var(--color-grey-light-1);
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    padding: 1.5rem 3rem;
    position: relative;
    display: flex;
    align-items: center;
    @media only screen and (max-width: $bp-medium) {
      justify-content: center;
      padding: 2rem;
    }
    @media only screen and (max-width: $bp-small) {
      flex-direction: column;
      padding: 1.5rem .5rem;
    }
  }
  &__icon {
    width: 1.75rem;
    height: 1.75rem;
    margin-right: 2rem;
    fill: currentColor;
    @media only screen and (max-width: $bp-small) {
      margin-right: 0;
      margin-bottom: 1rem;
    }
  }
}

// copy-right
.legal {
  font-size: 1.2rem;
  color: var(--color-grey-light-4);
  padding: 2.5rem;
  text-align: center;

  @media only screen and (max-width: $bp-medium) {
    display: none;
  }
}

// gallery
.gallery {
  display: flex;
  &__photo {
    width: 100%;
    display: block;
    border-radius: 2px;
    transition: transform .2s, filter .2s;
    filter: brightness(80%);
    &:hover {
      transform: scale(1.05);
      filter: brightness(100%);
    }
  }
}

// hotel-view
.overview {
  display: flex;
  align-items: center;
  border-bottom: var(--line);
  &__heading {
    font-size: 2.25rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 1.5rem 3rem;

    @media only screen and (max-width: $bp-small) {
      padding: 1.8rem;
      padding: 1.25rem 2rem;
    }
  }
  &__stars {
    margin-right: auto;
    display: flex;
    align-items: center;
    & > * {
      margin-right: .5rem;
    }
  }
  &__icon-star,
  &__icon-location {
    height: 2rem;
    width: 2rem;
    fill: var(--color-primary);
  }
  &__icon-location {
    margin-right: .5rem;
  }
  &__location {
    font-size: 1.5rem;
    color: var(--color-grey-dark-2);
    display: flex;
    align-items: center;
  }
  &__rating {
    font-size: 1.5rem;
    color: white;
    background-color: var(--color-primary);
    margin-left: 3rem;
    align-self: stretch;
    padding: 0 2rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @media only screen and (max-width: $bp-small) {
      padding: 0 1.5rem;
    }
  } 
  &__rating-count {
    font-size: .8rem;
    text-transform: uppercase;

    @media only screen and (max-width: $bp-small) {
      font-size: .5rem;
    }
  }
  &__rating-average {
    font-size: 2.25rem;
    font-weight: 300;
    margin-bottom: -3px;

    @media only screen and (max-width: $bp-small) {
      font-size: 1.8rem;
    }
  }
}

// button inline
.btn-inline {
  border: none;
  color: var(--color-primary);
  font-size: inherit;
  border-bottom: 1px solid currentColor;
  padding: 3px;
  display: inline-block;
  background-color: transparent;
  cursor: pointer;
  transition: all .2s;
  & span {
    margin-left: .7rem;
    transition: margin-left .2s;
  }
  &:hover {
    color: var(--color-grey-dark-2);
    span {
      margin-left: 1rem;
    }
  }
  &:focus {
    outline: none;
    animation: pulsate 1s infinite;
  }
}

@keyframes pulsate {
  0% {
    transform: scale(1);
    box-shadow: none;
  }
  50% {
    transform: scale(1.05);
    box-shadow: 1rem 1rem 3rem rgba(0, 0, 0, 0.2);
  }
  100% {
    transform: scale(1);
    box-shadow: none;
  }
}

// paragraph
.paragraph:not(:last-of-type) {
  margin-bottom: 2rem;
}

// list 
.list {
  margin: 3rem 0;
  list-style: none;
  padding: 3rem 0;
  border-bottom: var(--line);
  border-top: var(--line);

  display: flex;
  flex-wrap: wrap;
  &__item {
    flex: 0 0 50%;
    margin-bottom: .7rem;
    &::before {
      content: "";
      display: inline-block;
      height: 1.5rem;
      width: 1.5rem;
      margin-right: .7rem;

      //older browsers
      // background-image: url(../img/chevron-thin-right.svg);
      // background-size: cover;

      // new browsers - masks
      background-color: var(--color-primary);
      mask-image: url(../img/chevron-thin-right.svg);
      mask-size: cover;
    }
  }
}

// recommend
.recommend {
  font-size: 1.3rem;
  color: var(--color-grey-dark-3);
  display: flex;
  align-items: center;
  &__count {
    font-size: 1rem;
    margin-right: auto;
    font-weight: 300;
    display: block;
  }
  &__friends {
    display: flex;
  }
  &__photo {
    box-sizing: content-box;
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    border: 2px solid white;
    &:not(:last-child) {
      margin-right: -2rem;
    }
  }
}

// review
.review {
  background-color: white;
  box-shadow: var(--shadow-light);
  border-bottom: var(--line);
  padding: 2rem;
  position: relative;
  overflow: hidden;
  @media only screen and (max-width: $bp-medium) {
    padding: 2rem;
    margin-bottom: 3rem;
  }
  &:not(:last-child) {
    margin-bottom: 3rem;
  }
  &__user {
    display: flex;
    align-items: center;
    margin-top: 2rem;
  }
  &__user-box {
    margin-right: auto;
  }
  &__photo {
    height: 4.5rem;
    width: 4.5rem;
    border-radius: 50%;
    margin-right: 2rem;
  }
  &__user-name {
    font-size: 1.5rem;
    font-weight: 600;
    margin-right: 1rem;
    text-transform: uppercase;
  }
  &__user-date {
    font-size: 1.3rem;
    color: var(--color-grey-dark-3);
  }
  &__rating {
    font-size: 2.5rem;
    color: var(--color-primary);
  }
  &__text {
    font-size: 1.4rem;
    font-style: italic;
    margin-top: 1rem;
    position: relative;
    z-index: 10;
  }
  &::before {
    content: "\201E";
    position: absolute;
    top: -5rem;
    left: 0rem;
    font-size: 18rem;
    line-height: 0;
    color: var(--color-grey-light-2);
    font-family: sans-serif;
    z-index: 1;
  }
}

// cta
.cta {
  padding: 3.5rem 0;
  text-align: center;

  @media only screen and (max-width: $bp-medium) {
    padding: 2.5rem 0;
  }
  &__book-now {
    font-size: 2rem;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 2.5rem;
  }
  .btn {
    font-size: 1.5rem;
    font-weight: 300;
    text-transform: uppercase;
    border-radius: 100px;
    border: none;
    background-image: linear-gradient(to right, var(--color-primary-light), var(--color-primary-dark));
    color: white;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    & > * {
      display: inline-block;
      height: 100%;
      width: 100%;
      transition: top .2s;
    }
    &__visible {
      padding: 2rem 7.5rem;
    }
    &__invisible {
      position: absolute;
      padding: 2rem 0;
      left: 0;
      top: -100%;
    }
    &:hover {
      background-image: linear-gradient(to left, var(--color-primary-light), var(--color-primary-dark));
    }
    &:hover &__visible {
      transform: translateY(100%);
    }
    &:hover &__invisible {
      top: 0;
    }
    &:focus {
      outline: none;
      animation: pulsate 1s infinite;
    }
  }
}

